<h1>Listing Events</h1>
<table>
  <tr>
    <th>Event-Name</th>
    <th>Description</th>
    <th>Event-Time</th> 
    <th>Invited by</th>
    <th>Event-State</th>
    <th>Action</th>
  </tr>
 

<% @states.each do |state| %>
  <%debugger%>
    <tr>
      <td><%= state.evennt.eventname %></td>
      <td><%= state.evennt.description %></td>
      <td><%= state.evennt.eventtime %></td>
      <td><%= User.find(state.evennt.createdby).username %></td>
      <td><%= state.eventstate%></td>
       <td>
        <%= button_to 'Accepted', {:controller => "states", :action => "update",:evennt_id => state.evennt.id, :user_id=> current_user.id ,:state=>"Accepted"}, :method=>:put %>

        <%= button_to 'Rejected', {:controller => "states", :action => "update", :evennt_id => 
          state.evennt.id, :user_id=> current_user.id,:state=>"Rejected"}, :method=>:put %>
      </td>

    </tr>
  <% end %>
</table>
