<h2>Events Created</h2>
<table>
  <tr>
    <th>Event-Name</th>
    <th>Description</th>
    <th>Event-Time</th> 
    <th>Duration</th>  
  </tr>
  <% @allevents_hash["Createdby"].each do |evennt| %>
    <tr>
      <td><%= evennt.eventname %></td>
      <td><%= evennt.description %></td>
      <td><%= evennt.eventtime %></td>
      <td><%= evennt.duration %></td>

    </tr>
  <% end %>
</table>


<h2>Accepted Events</h2>
<table>
  <tr>
    <th>Event-Name</th>
    <th>Description</th>
    <th>Event-Time</th> 
    <th>Duration</th>  
   
  </tr>
  <% @allevents_hash["InvitedIn"].each do |state| %>
    <tr>
      <td><%= state.evennt.eventname %></td>
      <td><%= state.evennt.description %></td>
      <td><%= state.evennt.eventtime %></td>
      <td><%= state.evennt.duration %></td>
   
    </tr>
  <% end %>
</table>
