<h1>Edit Event</h1>
  
<%= form_for @event,:url => url_for(:controller => 'events', :action => 'update'),local: true do |form| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this @event from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :eventname %><br>
    <%= form.text_field :eventname %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
 
  <p>
    <%= form.label :eventtime %><br>
    <%= form.text_field :eventtime %>
  </p>

  <p>
    <%= form.label :duration %><br>
    <%= form.text_area :duration %>
  </p>
  <%= form.submit "Edit " %>
<% end %>


<%= form_for @event.states.last.user,:url => url_for(:controller => 'states', :action => 'adduser'),local: true do |form| %>
<%debugger%>
  <p>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
  </p>
  <p>
    <%= form.hidden_field :evennt_id,:value =>@event.id %>
  </p>

  <p>
  <%= form.submit "Add user "%>
  </p>
<%end%>
 
<%= link_to 'Back', events_path %>