<h1> Show </h1>

<p>
  <strong>EventName:</strong>
  <%= @event.eventname %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
	
<p>
  <strong>Eventtime:</strong>
  <%= @event.eventtime %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<table>
  <tr>
    <th>UserName</h>
    <th>Email</th>
  </tr>
 
<% @event.users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
  </tr>
<% end %>
</table> 

