	<%= link_to "Root Page",'/'%>
	
	<%= link_to 'New events', new_event_path %></br></br>
 	
 	<%= link_to 'Signup',signup_url %>
	
	<%= link_to "Events" , events_path%>
      </li>
      <li><%= link_to "Users",users_path %></li>
       
      <li><%= link_to 'Log out',logout_path,method: :delete %></li>
       <li> <%= link_to "New Events", 'events/new' %></li>
       